@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .markdown-viewer h2 {
  color: white;
}

.dark .markdown-viewer h3 {
  color: white;
}

.dark .markdown-viewer h4 {
  color: white;
}

.dark .markdown-viewer blockquote {
  color: white;
}

.dark .markdown-viewer a {
  color: white;
}

.dark .markdown-viewer th {
  color: white;
}

.markdown-viewer h2,
.markdown-viewer h3 {
  scroll-margin-top: 80px;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  .markdown-viewer h2,
  .markdown-viewer h3 {
    padding-top: 80px;
    margin-top: -80px;
  }
}
